html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

@media screen and (max-width: 450px) {
    body{
        background-color:darkgrey;
        font-size: large;
        margin: 50px;
    }
}

@media screen and (min-width: 450px) {
    body{
        background-color:cadetblue;
        font-size: x-large;
        margin: 50px;
    }
}

@media screen and (min-width: 1000px) {
    body{
        background-color: cornflowerblue;
        font-size: xx-large;
        margin: 75px;
        max-width: 1900px;
    }
}




/* Realize as seguintes tarefas:

Utilizando a abordagem mobile first e media queries, crie três versões de layout diferentes para essa página. Cada layout deve corresponder a um tamanho diferente de página (pequeno, médio e grande). Faça pelo menos um commit para cada layout;

Para fazer isso de forma adequada, você deve prestar atenção no conteúdo da página e pensar em como mostrá-lo em cada um dos tamanhos de tela:

Onde a lista de capítulos deve estar posicionada?

Como a história deve ser mostrada?

Como o cabeçalho deve ser posicionado?

O que fazer com as informações do autor em cada tamanho de tela?

Talvez você precise alterar o HTML um pouco, adicionando elementos para facilitar a estilização, ou talvez mudando um bloco de lugar dentro da página. */
