/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    font-size: large;
    margin: 15px;
  }
  
  article {
  
  }
  
  h1 {

  }
  
  h2 {
    
  }
  
  img {
    max-width: 100%;
  }
  
  main {
  
  }
  
  section {
    display: flex;
    flex-flow: row wrap;  
  }
  
  figure {
      margin: 0;
  }
  
  figcaption {
    font-size: .8em;
  }

@media screen and (min-width: 850px) {
    body{
        background-color:cadetblue;
        font-size: x-large;
        margin: 50px;
    }
}

@media screen and (min-width: 1456px) {
    body{
        background-color: cornflowerblue;
        font-size: xx-large;
        margin: 75px;
        max-width: 1900px;
    }
}