h1{
    font-family: sans-serif;
}

p {
    font-family:monospace;
    font-weight: 600px;
    font-size: 3em;
}

body{
    font-size: 16px;
}

.yellow{
    font-style:italic;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    text-decoration-style: dotted;
    text-decoration-line: overline;
    background-color: yellow;
}

.red{
    font-style: normal;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    text-decoration-style: wavy;
    text-decoration-line: underline;
    background-color: red;
}

.brown{
    font-style: italic;
    font-size: 80px;
    line-height: 120px;
    text-align: right;
    text-decoration-style: double;
    text-decoration-line: overline underline;
    background-color: brown;
}